
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */
.icon-prev:before { content: '\e806'; } /* '' */
.icon-next:before { content: '\e807'; } /* '' */